@import "normalize.styl"
@import "wp_generated_classes.styl"
@import "fonts.styl"

html
    min-height 100%
    font-size 16px

body
    height 100%
    font-family sans-serif
    line-height 1.4
    color #3d3d3d
    background #efefef
