/* Wordpress Generated Classes
 * https://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

.clear
    clear both

.sticky {}

.bypostauthor {}

.wp-caption {}

.wp-caption-text {}

.gallery-caption {}

.alignright {}

.alignleft {}

.aligncenter {}

.screen-reader-text
    clip rect(1px, 1px, 1px, 1px)
    position absolute !important
